{% extends 'base.html' %}
{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>
    {% if form.errors %}
    <p>Wrong !</p>
    {% else %}
    <p>Input your credentials. No account?<a href="{% url "register" %}">Register</a></p>
    {% endif %}
    <form action="" method="post">
        {{ form.as_p }}
    {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
    <p><input type="submit" value="login"/></p>

        <p><a href="{% url 'password_reset' %}">Forget?</a></p>
    </form>
    <div class="social">
        <ul>
            <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Sign in with facebook</a></li>
            <li class="twitter"><a href="{% url "social:begin" "twitter" %}">Sign in with twitter</a></li>
            <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Sign in with google</a></li>
        </ul>
    </div>
{% endblock %}